* { box-sizing: border-box;} 

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100vh !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-size: 18px;
    line-height: 25px;
    color: black;
    background: url("../Assets/images/hike.jpg");
}

h2 {
    color: black;
  }
  
  .container {
    width:100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
    
    
  }

}
#portfolio {
 margin-bottom: 48px;
  
}
/* #wilson-logo{
color: white;
background-color: darkgray; opacity: 90%; */ 
/* border-color: darkgray;  */
/* padding: 20px;
font-family: serif;
font-weight: 200;
font-size: 20pt;
text-align: center;
border-radius: .1rem;
} */ 

.navbar {
    border-bottom: 0px solid white;

}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}

footer{
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    font-size: medium;
    border-top: 7px solid gray;
  }